// Imports
@import "normalize.less";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext');

// Variables
@font-family-basic: 'Roboto', sans-serif; 

@font-size-small: 12px;
@font-size-middle: 16px;
@font-size-basic: 18px;
@font-size-bigger: 22px;

@font-color-light: #838383; 
@font-color: #5d6162; 
@link-color: #428bca; 
@link-color-hover:  darken(@link-color, 10%);
@border-color: #f1f1f2;
@border-color-dark: #dbdbdb;
@background-color-green: #30d97b;

// Functions
.transition (@transition: color 0.3s linear) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}

.border-radius (@radius: 4px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;
	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.border-radius-top (@radius: 4px) {
  -webkit-border-top-left-radius: @radius;
  -webkit-border-top-right-radius: @radius;
  -moz-border-radius-topleft: @radius;
  -moz-border-radius-topright: @radius;
  border-top-left-radius: @radius;
  border-top-right-radius: @radius;
}

.border-radius-bottom (@radius: 4px) {
  -webkit-border-bottom-right-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-radius-bottomright: @radius;
  -moz-border-radius-bottomleft: @radius;
  border-bottom-right-radius: @radius;
  border-bottom-left-radius: @radius;
}

.gradient(@from: #fff, @to: #000) {
  background-color: @to;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@from),  to(@to));
  background-image: -webkit-linear-gradient(top, @from, @to);
  background-image: -moz-linear-gradient(top, @from, @to);
  background-image: -o-linear-gradient(top, @from, @to);
  background-image: -ms-linear-gradient(top, @from, @to);
  background-image: linear-gradient(top, @from, @to);
}

.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
  box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}

body, button, input, select, textarea { 
  font-family: @font-family-basic;
  font-weight: 400;
  font-size: @font-size-basic;
  color: @font-color;  
}

body { 
    .gradient(#fff, @border-color-dark);
    
   a {
    color: #ff000;
    .transition();
    
    &:hover {
      color: #fff;     
    }
   }

   #preloader {
      position: fixed;
      min-height: 450px;
      width: 100%;
      height: 100%;
      background: #000;
      z-index: 100;
      background: #000 url('../images/preloader.jpg') no-repeat center center;
      background-size: contain;
   }

   select {
      display: none;
   }

  .custom-select-box {
      margin: auto;
      position: relative;
      width: 147px;
      font-size: @font-size-small;

    .select-box {
        width: 147px;
        position: absolute;     
        .border-radius ();
        border: 1px solid @border-color;
        padding: 12px 10px;
        font-weight: bold;
        cursor: pointer;
        .gradient(#fff, @border-color);
        .drop-shadow(1px, 4px, 5px, -3px,  0.18);

          &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            top: 18px;
            right: 14px;
            border: 5px solid transparent;
            border-color: @font-color transparent transparent transparent;
        }
    }

    ul.select-items {

        position: absolute;
        width: 167px;
        top: 50px;
        z-index: 99;
        .border-radius ();
        border: 1px solid @border-color;
        background: #fff;
        .drop-shadow(1px, 20px, 30px, -3px,  0.22);
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;

        li {
          transition:all 0.1s ease-in;
          display: block;
          padding: 0;
          padding: 12px 15px 12px 15px;
          cursor: pointer;

          &:hover, &.active {
            color: #fff;
            background: @background-color-green;

            &:after {
              position: absolute;
              content: url('../images/svg/ok.svg');
              width: 12px;
              right: 10px;
            }
          }

          &.active {
            background: @border-color-dark;
          }

          &:first-child {
            .border-radius-top();
          }

          &:last-child {
            .border-radius-bottom();
          }
          

        }
      }
  }

  header {
    padding-top: 5vh;
  }

  main {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    width: 100%;
    height: 95vh;

    article {
      max-width: 600px;
      margin: 0 auto;
      display: none;

      h1{
        font-size: @font-size-bigger;
        font-weight: normal;
        color: @font-color-light;
      }

      section {
        background: #fff;
        border: 14px solid @background-color-green;
        padding: 0 10px 10px 10px;
        font-size: @font-size-middle;
        color: #000;
        font-weight: bold;

        .icon {
           width: 55px;
           height: 60px;
           display: block;
           margin: auto;
        }

      }
    }


  }



  

}